<!DOCTYPE html>
<html>
    <head>
        <title>Call My City</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
		<div id="box">
 			 <p id="flashlight">
    			<span id="flash">HEY! there,</span>
   				 <span id="light">We call the city for U!</span>
  			</p>
			
			<div class = "buttons">
				<a href="/customer"> <button class="btn btn-one" >Get a service!</button></a>
				<a href="/provider"><button class="btn btn-one"> Provide a service!</button></a>
		    </div>

<%- include("./partials/footer.ejs") %>