<%- include("partials/header_provider") %>
<!-- <h1>
	<!-- welcome to the register page! -->
<!-- </h1> --> 
<!-- <form action="/register" method="post"> -->
	<!-- <input type="text" name="username" placeholder="enter your username"> -->
	<!-- <input type="password" name="password" placeholder="create your password"> -->
	<!-- <input type="password" placeholder="confirm your password"> -->

	<!-- <button>Create an account</button> -->



<div class="container">
		<form class="login-form" action="/register" method="POST">
				<h1 id="login">
					Create a New account!
				</h1>
			  <input type="text" class="login-username" name="username" autofocus="true" required="true" placeholder="username" />
			  <input type="password" class="login-password" name="password" required="true" placeholder="password" />
		
			  <input type="submit" name="Login" value="Signup" class="login-submit" />
			</form>
			<a href="#" class="login-forgot-pass">forgot password?</a>
			<div class="underlay-photo"></div>
	<div class="underlay-black"></div> 
</div>
	

      
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</form>