<h1>
	welcome to the register page!
</h1>
<form action="/register" method="post">
	<input type="text" name="username" placeholder="enter your username">
	<input type="password" name="password" placeholder="create your password">
	<input type="password" placeholder="confirm your password">

	<button>Create an account</button>
</form>