@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html, body{
	margin: 0;
	padding: 0;
	width: 100%;
}
body {
	width: 100%;
	height: 100vh;
	background: url(https://c4.wallpaperflare.com/wallpaper/856/570/508/dark-photography-grayscale-lions-black-background-1900x1200-abstract-photography-hd-art-wallpaper-preview.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	font-family: sans-serif;
	
}
.nav {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100px;
	border-bottom: 1px solid rgba(255,255,255,0.5);		
}

.logo {
	letter-spacing: 1px;
	float: left;
	color: #fff;
	font-size: 22px;
	line-height: 80px;
	padding: 0 6em;
	font-family: mongolian;
	font-weight: 100px;
	font-size: 50px;
}


.menu {
	float: right;
	line-height: 50px;
	margin: 0 60em;
	
}



.menu ul {
    list-style: none;
	display: flex;
	padding: 2%;
	
}

.menu ul li {
	display: inline-block;
	
}


.menu ul li a {
	text-decoration: none;
	color: #fff;
    font-size: 16px;
	font-weight: lighter;
	padding: 0 20px;

}



ul li:nth-child(5) a {
	color: #009f8b;
	border: 1px solid #009f8b;
	padding: 10px;
	border-radius: 4px;
	display: flex;
	
}




.header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Fredoka One', cursive;
}

.header h1 {
	color: cyan;
	font-size: 70px;
	font-weight: 400;
	margin-bottom: 8px;
	font-family: 'Fredoka One', cursive;	
	
}


.header p{
	color: #fff;
	font-size: 60px;
	font-weight: lighter;
	font-family: 'Fredoka One', cursive;	
}
	
.header button{
	color: #fff;
	background: #009f8b;
	padding: 12px 32px;
	border: none;
	font-size: 14px;
	margin-top: 40px;
}
	
	
	
	
	
	
	
	
	
	
